<launch>
  <arg name="robot_namespace" default="crl_rzr"/>
  <arg name="publish_fake_image" default="false"/>
  <arg name="publish_fake_goal" default="false"/>

  <include file="$(find simulation_to_real)/launch/drq.launch">
    <arg name="robot_namespace" value="$(arg robot_namespace)"/>
  </include>
  <include file="$(find simulation_to_real)/launch/odom2traj.launch">
    <arg name="robot_namespace" value="$(arg robot_namespace)"/>
  </include>
  <include file="$(find simulation_to_real)/launch/sim2real.launch">
    <arg name="robot_namespace" value="$(arg robot_namespace)"/>
  </include>
  <group if="$(arg publish_fake_goal)">
    <include file="$(find simulation_to_real)/launch/future_goal.launch">
      <arg name="robot_namespace" value="$(arg robot_namespace)"/>
    </include>
  </group>
  <group if="$(arg publish_fake_image)">
    <include file="$(find simulation_to_real)/launch/fake_image.launch">
      <arg name="robot_namespace" value="$(arg robot_namespace)"/>
    </include>
  </group>
</launch>